.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;

}

.navbar h1{
    font-size: 3rem;
    color: green;
}

.navbar h4{
    text-indent: 20px;
}

.navbar .profile{
    width: 4%;
}

@media screen and (max-width:900px) {
    .navbar .profile{
        width: 15%;
    }
}