.header{
    height: 36vw;
    margin: 30px auto;
    /* background: url('/src/assets/frontend_assets/header_img.png') no-repeat; */
    /* background-size: cover; */
    position: relative;

    border-radius: 20px;
    

}
.header img{
    border-radius: 20px;
}

@media (max-width:480px) {
    .header img{
        height: 25vh;
    }
}



    

@media (max-width:768px) {
    .header{
        height: 40vw;
        

    }
    
}
@media (max-width:425px) {
    .header{
        height: 38vw;
        

    }

}