@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@1,700&display=swap');




body{
  padding: 0;
  margin: 0;
  font-family: Outfit;
  box-sizing: border-box;
  min-height: 100vh;
}

a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 85%;
  margin: auto;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}