.food-display{
    margin-top: 30px;


}
.food-display h2{
    font-size: max(2vw,24px);
    font-weight: 600;
}
.food-display-list{

    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap:50px;
}

.menu-category{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1rem;
}

.category-item{
    padding: 10px;
    border: 2px solid green;
    border-radius: 50px;
    cursor: pointer;
}

.category-item:hover{
    background-color: green;
    color: white;
    box-shadow: 0px 0px 5px green;
}

.All{
    border: 2px solid green;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}

.category-item.active{
    background-color: green;
    color: white;
}
.All.active{
    background-color: rgb(0, 0, 0);
    color: white;
}